{{!-- scripts: ["scripts/about.js"] --}}
<h1 class="text-amber-900">About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam beatae, facere fuga illo ipsum itaque nihil ut. Autem labore non numquam pariatur placeat qui reiciendis repellat? Accusantium rerum, velit.</p>
{{> contactForm}}